

{% extends 'nursetemp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card mx-auto mt-5
" style="width: 800px; height:600px; border:1px solid red"  >
  <div class="row">
  <div class="col-lg-6 "></div>
  <div class="col-lg-6">
    <form method="get" class="form-inline" style="float:right;">
      <div class="input-group">
        {{ hospitalfilter.form }}
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
  </div>
<table class="table">
  <tbody>
  <tr class="table-primary">
    <th>name</th>
    <th>place</th>
    <th>E-mail</th>
    <th>contact</th>
  </tr>
  {% for i in hospital %}
    <tr>
      <td>{{i.name}}</td>
      <td>{{i.place}}</td>
      <td>{{i.email}}</td>
      <td>{{i.contact}}</td>



    </tr>
    {% empty %}
  <tr>
    <td colspan="7"><h3>No Results Found</h3></td>
  </tr>

  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}