

{% extends 'nursetemp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card mx-auto mt-5
" style="width: 800px; height:600px; border:1px solid red"  >
<div class="row">
  <div class="col-lg-6 "></div>
  <div class="col-lg-6">
    <form method="get" class="form-inline" style="float:right;">
      <div class="input-group">
        {{ schedulefilter.form }}
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
  </div>
<table class="table">
  <tbody>
  <tr class="table-primary">
    <th>Hospital</th>
    <th>Date</th>
    <th>vaccinename</th>
    <th>Starttime</th>
    <th>Endtime</th>
  </tr>
  {% for i in new %}
    <tr>
      <td>{{i.hospital}}</td>
      <td>{{i.date}}</td>
      <td>{{i.vaccinename}}</td>
      <td>{{i.starttime}}</td>
      <td>{{i.endtime}}</td>
      <td><a href="{% url 'scheduleadd_update' i.id %}"><button type="submit" class="btn btn-success">edit</button></a> </td>
      <td><form action="{% url 'scheduleadd_delete' i.id %}" method="post">
      {% csrf_token %}
      <button type="submit" type="submit" class="btn btn-danger">delete</button>
      </form></td>
    </tr>
    {% empty %}
  <tr>
    <td colspan="7"><h3>No Results Found</h3></td>
  </tr>

  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}