

{% extends 'admintemp/test.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card mx-auto mt-5
" style="width: 800px; height:600px; border:1px solid red"  >
<table class="table">
  <tbody>
  <tr class="table-primary">
    <th>Type</th>
    <th>User</th>
    <th>Subject</th>
    <th>Complaints</th>
    <th>Date</th>
    <th>Reply</th>
  </tr>
  {% for i in new %}
    <tr>

      <td>{% if i.type.is_nurse == True %}
      <p>Nurse</p>
      {% elif i.type.is_user == True %}
      <p>User</p>
      {% endif %}
      </td>
      <td>{{i.type}}</td>
      <td>{{i.subject}}</td>
      <td>{{i.complaints}}</td>
      <td>{{i.date}}</td>
      <td>
          {% if i.reply == None %}
          <a href="{% url 'reply_complaints' i.id %}">Reply Now</a>
          {% else %}
          {{i.reply}}
          {% endif %}
      </td>
    </tr>
    {% empty %}
  <tr>
    <td colspan="7"><h3>No Results Found</h3></td>
  </tr>

  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}